<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Log in - Brand</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
</head>
<body>
    <app-navbar></app-navbar>
    <section class="py-5 mt-5">
        <div class="container py-5">
            <div class="row mb-4 mb-lg-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <p class="fw-bold text-success mb-2"></p>
                    <h2 class="fw-bold">Frutas y Verduras de Miguel</h2>
                </div>
            </div>
            
            <div class="card-group">
                <div class="card px-4" style="width: 18rem;">
                    <img class="card-img-top" src="assets/img/products/7.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Manzanas</h5>
                      <p class="card-text">$30 c/u</p>
                      <a href="chat" class="btn btn-primary">Contacto</a>
                    </div>
                </div>
                <div class="card px-4" style="width: 18rem;">
                    <img class="card-img-top" src="assets/img/products/8.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Uvas</h5>
                      <p class="card-text">$60 c/u</p>
                      <a href="#" class="btn btn-primary">Contacto</a>
                    </div>
                </div>
                <div class="card px-4" style="width: 18rem;">
                    <img class="card-img-top" src="assets/img/products/9.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Aguacate</h5>
                      <p class="card-text">$50 c/u</p>
                      <a href="#" class="btn btn-primary">Contacto</a>
                    </div>
                </div>
                
            </div>
            <div class="card-group">
                <div class="card px-4" style="width: 18rem;">
                    <img class="card-img-top" src="assets/img/products/10.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Tomate</h5>
                      <p class="card-text">$30 c/u</p>
                      <a href="#" class="btn btn-primary">Contacto</a>
                    </div>
                </div>
                <div class="card px-4" style="width: 18rem;">
                    <img class="card-img-top" src="assets/img/products/11.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Banana</h5>
                      <p class="card-text">$60 c/u</p>
                      <a href="#" class="btn btn-primary">Contacto</a>
                    </div>
                </div>
                <div class="card px-4" style="width: 18rem;">
                    <img class="card-img-top" src="assets/img/products/12.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Pera</h5>
                      <p class="card-text">$50 c/u</p>
                      <a href="#" class="btn btn-primary">Contacto</a>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <app-foot></app-foot>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/bold-and-dark.js"></script>
</body>

</html>
